.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  position: relative;
}

.landing_image {
  position: absolute;
  top: 0px;
  right: 0px;
  filter: drop-shadow(10px 10px 15px red);
}

.title_1 {
  z-index: 1;
  font-size: 8dvw;
  text-align: left;
  padding: 1rem 1rem 1rem 2rem;
  filter: drop-shadow(16px 16px 15px red);
  position: absolute;
  left: 0px;
}

.title_2 {
  z-index: 1;
  margin-top: 20dvh;
  font-size: 10dvw;
  text-align: left;
  filter: drop-shadow(16px 16px 15px red);
}
