.form {
  position: absolute;
  top: 10%;
  height: 70dvh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  background: rgba(54, 46, 46, 0.418);
  backdrop-filter: blur(5px);
  padding: 20px;
}

.close {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 20px;
  border-radius: 50%;
  border: 0px;
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}

.save {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 20px;
  border-radius: 50%;
  border: 0px;
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}

.close:hover,
.save:hover {
  transform: scale(120%);
}
