.table {
  margin: 2rem auto;
}

.table caption {
  margin-bottom: 1rem;
  font-size: large;
}

.tbody > tr:nth-of-type(even) {
  background-color: rgba(255, 0, 0, 0.479);
}

.thead {
  background-color: rgb(10, 24, 56);
}

.th,
.td {
  padding: 10px 5px;
}

.td {
  max-height: 139px;
  min-width: 100px;
  max-width: calc(250px + 10px);
}
/*TODO: define constant to 250px for max-width*/
/*TODO: implement function to ensure video frame from embed url contain width=250px and height=139px*/

.button {
  cursor: pointer;
}

.new_director {
  padding: 1rem;
  text-align: center;
  font-size: large;
  height: 50px;
  cursor: pointer;
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.formContainer {
  display: grid;
  place-items: center;
}
